body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 17px 54px;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:focus,
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-header {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #EEEEEE;
}

.main-header-logo {
  display: block;
  padding: 0;
  margin:  0;
  padding-top: 5px;
  margin-right: 200px;
  width: 160px;
  height: 65px;
}

.main-header-logo:hover img {
  opacity: 0.8;
}

.main-header-logo:focus img,
.main-header-logo:active img {
  opacity: 0.3;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  max-width: 1160px;
  padding-top: 30px;
  font-weight: 500;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  text-align: left;
  background-color: #EEEEEE;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
        justify-content: space-between;
  margin: 0;
  padding:  0;
  padding-top: 25px;
  padding-bottom:  5px;
  min-width: 445px;
  list-style: none;
}

.site-navigation a,
a.cart-link {
  display: block;
  padding: 20px 5px;
  color: #000000;
}

a.cart-link {
  padding-bottom: 0;
}

.site-navigation a {
  position: relative;
}

.site-navigation a.current::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 6px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

a.cart-link {
  position: relative;
  margin: 0;
  margin-left: auto;
  padding-top: 20px;
  padding-left: 40px;
  max-width: 70px;
  background-color: #EEEEEE;
}

a.cart-link::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
a.cart-link:hover {
  color: #fb565a;
  background-color: #EEEEEE;
}

.site-navigation a:focus,
.site-navigation a:active,
a.cart-link:focus,
a.cart-link:active {
  color: rgba 0 0 0, 0.3;
}

.features {
  position: relative;
  background-color: #EEEEEE;
}

.features-wrap {
  margin: 0;
  margin-bottom: 79px;
  padding: 0;
  background-color: #EEEEEE;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  padding: 63px 0 80px 0px;
  display: none;
}

.features-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.features-item p {
  max-width: 380px;
  margin: 0;
  margin-bottom: 38px;
}

.features-controls {
  position: absolute;
  left: 50%;
  bottom: 103px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features-controls .active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.features-controls .toggle {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 8px;
  vertical-align: middle;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.features-controls .toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
}

.features-item:nth-child(1) {
  display: block;
}

.features-item:nth-child(1) {
  margin: 0;
  background-color: #EEEEEE;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 4px;
}

.features-item:nth-child(2) {
  background-color: #EEEEEE;
  background-image: url("../img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.features-item:nth-child(3) {
  background-color: #EEEEEE;
  background-image: url("../img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.services {
  margin-bottom: 120px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding: 0;
  max-width: 1160px;
  list-style: none;
}

.services-item {
  width: 300px;
  margin: 0;
  margin-right: 100px;
  padding: 0;
  padding-top: 172px;
}

.services-item:nth-child(3) {
  margin-right: 60px;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  width: 300px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  width: 240px;
}

.services-item .button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 16px 40px;
}

.services-item:nth-child(1) {
  background-image: url("../img/illustration-1.png");
  background-repeat: no-repeat;
  background-position:  0 0;
}

.services-item:nth-child(2) {
  background-image: url("../img/illustration-2.png");
  background-repeat: no-repeat;
}

.services-item:nth-child(3) {
  background-image: url("../img/illustration-3.png");
  background-repeat: no-repeat;
}

.services-item:nth-child(2) a {
  background-color: #00ca74;
}

.services-item:nth-child(2) a:hover {
  background-color: #00bc6c;
}

.services-item:nth-child(2) a:focus,
.services-item:nth-child(2) a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.services-item:nth-child(3) a {
  background-color: #efc84a;
}

.services-item:nth-child(3) a:hover {
  background-color: #eab534;
}

.services-item:nth-child(3) a:focus,
.services-item:nth-child(3) a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 1160px;
}

.article-about-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
  max-width: 1160px;
}

.article-about-wrap::after {
  content: "";
  position: absolute;
  bottom: -49px;
  left: 0;
  right: 0;
  width: 1160px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-wrap {
  margin:  0;
  margin-right: 140px;
  padding:  0;
}

.about-slogan {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  padding-top: 35px;
  min-width: 650px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-lead {
  margin: 0;
  margin-bottom: 39px;
  max-width: 645px;
}

.about-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-services h3,
.about-accurasy-table caption {
  margin: 0;
  margin-bottom: 24px;
  font-size:  inherit;
  text-transform: uppercase;
  font-weight: bold;
}

.about-services-item {
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 35px;
}

.about-services-item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-accurasy {
  margin: 0;
  padding: 0;
}

a.about-header-logo {
  display: block;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  padding-left: 10px;
}

.about-header-logo img {
  margin: 0 auto;
  display: block;
  width: 360px;
  height: 208px;
}

.about-accurasy-table {
  margin: 0;
  border-collapse:  collapse;
  border-spacing:  0;
}

.about-accurasy-table caption {
  margin-bottom: 45px;
  padding-left: 10px;
}

.about-accurasy-table th {
  padding: 13px 9px;
  font-size: 45px;
  font-weight: bold;
  text-align: left;
  line-height: 10px;
}

.about-accurasy-table td {
  padding: 25px 11px;
  line-height: 18px;
  text-align:  left;
}

.about-partners {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 1160px;
  list-style: none;
}

.about-partners-logo a {
  display: block;
  margin: 0;
  padding: 0;
}

.about-partners-logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  margin: 0;
}

.about-partners::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  width: 1160px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-partners-logo:not(:nth-of-type(4))::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.1);
}

.about-partners-logo img {
  margin: 0;
  padding: 0;
  opacity: 0.2;
}

.about-partners-logo:hover img {
  opacity: 1;
}

.about-partners-logo:focus img,
.about-partners-logo:active img {
  opacity: 0.1;
}

.main-footer {
  margin: 0;
  margin-top: 120px;
  padding:  0;
  padding-bottom:  120px;
}

.map {
  position: relative;
  margin: 0;
  margin-bottom: 69px;
  width: 100%;
  height: 416px;
}

.map iframe {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 416px;
  border: none;
}

.map img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 416px;
}

.footer-contacts-wrap {
  position: relative;
}

.footer-contacts {
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: 3;
  margin: 0;
  padding: 47px 50px;
  background-color: #ffffff;
}

.footer-contacts p {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  line-height: 18px;
  color: #666666;
}

.footer-contacts span {
  display: block;
  margin: 0;
  padding: 0;
}

span.title {
  margin-bottom: 22px;
  padding-top: 3px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

span.address {
  margin-bottom: 18px;
}

.footer-contacts .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 219px;
  height:  50px;
}

.map::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 820px;
  z-index: 1;
  width: 250px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-right: 140px;
  padding-left: 0;
  width: 260px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:focus,
.social-button:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

a.social-button:focus path,
a.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.social-slogan-wrap {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 550px;
}

.footer-social-slogan {
  margin: 0;
  margin-bottom: 9px;
  padding:  0;
  padding-top: 7px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.footer-social-promo {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, calc(-50% - 2000px));
            transform: translate(-50%, calc(-50% - 2000px))}
  70% {
    -webkit-transform: translate(-50%, calc(-50% + 30px));
            transform: translate(-50%, calc(-50% + 30px))}
  90% {
    -webkit-transform: translate(-50%, calc(-50% - 10px));
            transform: translate(-50%, calc(-50% - 10px))}
  100% {
    -webkit-transform: translate(-50%, calc(-50%));
            transform: translate(-50%, calc(-50%))}
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(-50%, calc(-50% - 2000px));
            transform: translate(-50%, calc(-50% - 2000px))}
  70% {
    -webkit-transform: translate(-50%, calc(-50% + 30px));
            transform: translate(-50%, calc(-50% + 30px))}
  90% {
    -webkit-transform: translate(-50%, calc(-50% - 10px));
            transform: translate(-50%, calc(-50% - 10px))}
  100% {
    -webkit-transform: translate(-50%, calc(-50%));
            transform: translate(-50%, calc(-50%))}
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(calc(-50%), -50%);
            transform: translate(calc(-50%), -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(calc(-50% - 10px), -50%);
            transform: translate(calc(-50% - 10px), -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(calc(-50% + 10px), -50%);
            transform: translate(calc(-50% + 10px), -50%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(calc(-50%), -50%);
            transform: translate(calc(-50%), -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(calc(-50% - 10px), -50%);
            transform: translate(calc(-50% - 10px), -50%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(calc(-50% + 10px), -50%);
            transform: translate(calc(-50% + 10px), -50%);
  }
}

.modal {
  position: fixed;
  z-index: 4;
  padding: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-contacts-form {
  width: 760px;
  padding: 70px 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feedback-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.feedback-form legend {
  margin: 0;
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.feedback-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  width: 760px;
}

p.feedback-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding-left: 2px;
}

.feedback-item label {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 18px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 11px 15px;
  padding-right: 40px;
  font: inherit;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.feedback-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 760px;
  padding: 6px 500px 6px 15px;
  font: inherit;
  background-color: #ffffff;
  border: 2px solid #d7dcde;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus,
.feedback-form input[type="text"]:active,
.feedback-form input[type="email"]:active,
.feedback-form textarea:active {
  border: 2px solid #000000;
}

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid {
  border: 2px solid #e74246;
}

.feedback-form .button {
  display: block;
  margin: 0;
  margin-top: 50px;
  width: 260px;
  height: 50px;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: rgba(251, 86, 90, 0.3);
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: rgba(251, 86, 90, 1);
}

.page-title {
  margin: 0;
  margin-bottom: 52px;
  padding-top: 60px;
  padding-bottom: 110px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  background-color: #EEEEEE;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  border: none;
}

.filter-form legend {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-price legend {
  margin-bottom: 48px;
  padding-top: 3px;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 8px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters {
  margin: 0;
  margin-right: 140px;
  min-width: 260px;
}

.filter-form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-grid .filter-list {
  min-height: 100px;
}

.filter-features .filter-option {
  margin:  0;
  margin-bottom:  15px;
}

fieldset.filter-grid {
  margin-bottom: 45px;
}

fieldset.filter-features {
  margin-bottom: 30px;
}

.filter-list li {
  margin: 0;
  padding: 0;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  margin:  0;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 20px;
  color: #283136;
}

.filter-features label {
  padding-top: 2px;
  padding-bottom: 3px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -3px;
  width: 19px;
  height: 19px;
  border: 4px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 4px;
  width: 10px;
  height: 10px;
  background-color: #4d4d4d;
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio:checked + label:hover::after,
.filter-input-radio + label:focus::before,
.filter-input-radio:checked + label:focus::after,
.filter-input-radio + label:active::before,
.filter-input-radio:checked + label:active::after {
  opacity: 1;
}

.filter-input-radio:focus + label::before,
.filter-input-radio:active + label::before {
  outline: thin dotted;
  outline: 4px auto -webkit-focus-ring-color;
}

.filter-input-radio + label:disabled:before,
.filter-input-radio:checked + label:disabled::after {
  color: rgba(40, 49, 54, 0.3)
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -1px;
  width: 20px;
  height: 20px;
  border: 2px solid #4d4d4d;
  opacity: 0.4;
  border-radius: 3px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -30px;
  top: 1px;
  width: 17px;
  height: 8px;
  border: 4px solid #4d4d4d;
  opacity: 0.4;
  border-top-style: none;
  border-right-style: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox + label:focus::before,
.filter-input-checkbox:checked + label:focus::after,
.filter-input-checkbox + label:active::before,
.filter-input-checkbox:checked + label:active::after {
  opacity: 1;
}

.filter-input-checkbox:focus + label::before,
.filter-input-checkbox:active+ label::before {
  outline: thin dotted;
  outline: 4px auto -webkit-focus-ring-color;
}

.filter-button {
  color: #000000;
  background-color: #EEEEEE;
  width: 260px;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:focus,
.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 51px;
  padding: 0;
  max-width: 777px;
}

.sorting h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: 360px;
  list-style: none;
}

.sorting-list li {
  /* margin-right: 33px; */
  min-width: 11px;
}

.sorting-list li:nth-last-child(2) {
  margin-left: 15px;
}

.sorting-list li:last-child{
  margin-right: 0;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

a.arrow-down {
  /* padding-left: 10px; */
}

a.arrow-up polygon {
  fill: rgba(166, 166, 166, 0.2);
}

a.arrow-down polyline {
  fill: rgba(166, 166, 166, 0.2);
}

a.arrow-down.current polyline {
  fill: #000000;
}

a.arrow:hover polygon,
a.arrow:hover polyline {
  fill: rgba(166, 166, 166, 1);
}

a.arrow:focus polygon,
a.arrow:active polygon {
  fill: #000000;
}

a.arrow:focus polyline,
a.arrow:active polyline {
  fill: #000000;
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:focus,
.sorting a:active,
.sorting a.sorting-current {
  color: #000000;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1160px;
}

.catalog-wrap {
  margin: 0;
  padding: 0;
  width: 760px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  max-width: 760px;
  list-style: none;
}

.catalog-item {
  display: flex;
  position: relative;
  width: 360px;
  margin-bottom: 32px;
  margin-right: 40px;
  padding-top: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item img {
  width: 360px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-image: url("../img/browser.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-item:hover::before {
  background-image: url("../img/browser-hover.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 0;
  width: 360px;
  min-height: 231px;
  background-color: #EEEEEE;
  display: none;
}

.catalog-item-price a {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 27px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.catalog-item-title h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.catalog-item-price h3 {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  max-width: 230px;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog-item .price-button {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 50px;
}

.catalog-item:hover .catalog-item-price{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align:  center;
      -ms-flex-align:  center;
          align-items:  center;
  padding: 0;
  margin: 0;
  max-width: 474px;
  list-style: none;
}

.pagination-list li {
  margin-right: 11px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-list a {
  display: block;
  padding: 15px 19px;
  margin: 0;
}

.pagination-list .button {
  font-size: 16px;
  color: #000000;
  background-color: #EEEEEE;
}

.pagination-list .button-next {
  padding: 15px 80px;
}

.pagination-list .button:hover:not(.pagination-current) {
  background-color: #dfdfdf;
}

.pagination-list .button:focus,
.pagination-list .button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button.pagination-current{
  color: #000000;
  background-color: #ffffff;
  border: solid 3px #dbdbdb;
}

.inner-page .main-footer {
  margin-top: 59px;
}
